.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 0 20px 40px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.carts-container {
  height: 100%;
  margin-left: 20px;
  margin-bottom: 40px;
}
.sticky-items {
  background-color: rgba(0, 0, 0, 0.11);
  position: sticky;
  top: 20px;
  border-radius: 10px 0 0 10px;
}
.sticky-items .cart-btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.568);
  font-size: 17px;
  margin-bottom: 10px;
  cursor: pointer;
}
.cart-btn-container {
  padding: 20px;
}
.cart-title {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  color: rgb(192, 16, 16);
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .shop-container {
    /* padding: 15px; */
    grid-template-columns: 3fr 2fr;
  }
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .shop-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .carts-container {
    margin-left: 0;
  }
}
